site_name: "NOMAD Documentation: Computational Calculations"
site_description: |
  NOMAD Documentation for Computational data.
site_author: FAIRmat consortium
repo_url: https://github.com/FAIRmat-NFDI/AreaC-DOC
nav:
  - Home: index.md
  - Uploading and publishing data: 
    - Introduction: uploading_and_publishing_data/intro.md
    - Uploading data: uploading_and_publishing_data/uploading_data.md
    - Organizing data in datasets: uploading_and_publishing_data/organizing_data_in_datasets.md
    - Processing: uploading_and_publishing_data/processing.md
    - Extras: uploading_and_publishing_data/extras.md
  - Custom schemas for new features: 
    - Introduction: custom_schemas_for_new_features/intro.md
  - Writing a parser plugin: 
    - Introduction: writing_a_parser_plugin/intro.md
  - Normalizing the parsed metadata: 
    - Introduction: normalizing_the_parsed_metadata/intro.md
  - Querying and performing Data Science: 
    - Introduction: querying_and_performing_Data_Science/intro.md
  - Visualizing properties in the entry page: 
    - Introduction: visualizing_properties_in_the_entry_page/intro.md
  - Defining filters for searches: 
    - Introduction: defining_filters_for_searches/intro.md
  - Current features: 
    - Introduction: current_features/intro.md
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      # primary: '#2A4CDF'
      # accent: '#008A67'
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: 'Titillium Web'
  logo: assets/nomad-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
plugins:
  - search
  - bibtex:
      bib_file: docs/assets/refs.bib
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: True
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js'
  - 'https://unpkg.com/cytoscape@3.19.1/dist/cytoscape.min.js'
  # - assets/js/parse.js
extra:
  version: 0.1
