site_name: "NOMAD Documentation: Computational Calculations"
site_description: |
  NOMAD Documentation for Computational data.
site_author: FAIRmat consortium
repo_url: https://github.com/FAIRmat-NFDI/AreaC-DOC
nav:
  - Home: index.md
  - Uploading and Publishing:
    - Overview: uploading_and_publishing/overview.md
    - How-to upload data: uploading_and_publishing/howto_upload_data.md
    - Explanation - how the processing works?: uploading_and_publishing/explanation_how_the_processing_works.md
    - How-to publish data: uploading_and_publishing/howto_publish_data.md
    - References: uploading_and_publishing/refs.md
  - Custom schemas for new features:
    - Introduction: custom_schemas_for_new_features/intro.md
    - H5MD:
      - Overview: custom_schemas_for_new_features/h5md/h5md_overview.md
      - Root: custom_schemas_for_new_features/h5md/root.md
      - H5MD: custom_schemas_for_new_features/h5md/h5md.md
      - Particles: custom_schemas_for_new_features/h5md/particles.md
      - Observables: custom_schemas_for_new_features/h5md/observables.md
      - Connectivity: custom_schemas_for_new_features/h5md/connectivity.md
      - Parameters: custom_schemas_for_new_features/h5md/parameters.md
      - Units: custom_schemas_for_new_features/h5md/units.md
      - Examples:
        - Writing an H5MD-NOMAD file: custom_schemas_for_new_features/h5md/examples/writing_h5md-nomad.md
        - Creating a topology: custom_schemas_for_new_features/h5md/examples/creating_a_topology.md
        - Accessing an H5MD-NOMAD file: custom_schemas_for_new_features/h5md/examples/testing_h5md-nomad.md
      - References:
        - Quick Start - H5MD basics: custom_schemas_for_new_features/h5md/references/quick_H5MD_basics.md
        - Notable changes from H5MD to H5MD-NOMAD: custom_schemas_for_new_features/h5md/references/unsupported.md
        - Standardized observables: custom_schemas_for_new_features/h5md/references/standard_observables.md
  - Writing a parser plugin:
    - Overview: writing_a_parser_plugin/parser_plugin_overview.md
    - Creating the framework for your parser: writing_a_parser_plugin/parser_shell.md
    - Parser structure for computation: writing_a_parser_plugin/computational.md
    - Creating parser tests: writing_a_parser_plugin/parser_tests.md
    - Creating new metainfo: writing_a_parser_plugin/creating_new_metainfo.md
    - References:
      - Quick Start - parser setup: writing_a_parser_plugin/references/quick_parser_setup.md
      - Quick Start - installing a development version of NOMAD: writing_a_parser_plugin/references/quick_installing_nomad_dev.md
      - Quick Start - best practices for NOMAD development: writing_a_parser_plugin/references/quick_NOMAD_best_practices.md
      - Examples - NOMAD's parser-matching interface: writing_a_parser_plugin/references/examples_parser_matching.md
      - Examples - populating the NOMAD archive: writing_a_parser_plugin/references/examples_populating_archive.md
      - Standard workflows in NOMAD: writing_a_parser_plugin/references/standard_workflows.md
      - Advanced - creating a new parser project: writing_a_parser_plugin/references/advanced_new_parser_project.md
      - Old Docs: writing_a_parser_plugin/references/old_docs.md
  - Normalizing the parsed metadata:
    - Introduction: normalizing_the_parsed_metadata/intro.md
  - Querying and performing Data Science:
    - Introduction: querying_and_performing_Data_Science/intro.md
  - Visualizing properties in the entry page:
    - Introduction: visualizing_properties_in_the_entry_page/intro.md
  - Defining filters for searches:
    - Introduction: defining_filters_for_searches/intro.md
  - Current features:
    - Introduction: current_features/intro.md
  - Glossary of terms: glossary/glossary.md
  - Contact: contact.md
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      # primary: '#2A4CDF'
      # accent: '#008A67'
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: 'Titillium Web'
  logo: assets/nomad-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
    - navigation.footer
  icon:
    repo: fontawesome/brands/github
plugins:
  - search
  - bibtex:
      bib_file: docs/assets/refs.bib
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: True
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji 
      emoji_generator: !!python/name:materialx.emoji.to_svg
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js'
  - 'https://unpkg.com/cytoscape@3.19.1/dist/cytoscape.min.js'
  # - assets/code/parse.js
extra:
  version: 0.1
  generator: false
